@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .prose {
    @apply text-foreground;
    --tw-prose-body: var(--foreground);
    --tw-prose-headings: var(--foreground);

    --tw-prose-links: var(--primary);
    --tw-prose-bold: var(--foreground);
    --tw-prose-counters: var(--foreground);
    --tw-prose-bullets: var(--foreground);
    --tw-prose-hr: var(--border);
    --tw-prose-quotes: var(--foreground);
    --tw-prose-quote-borders: var(--primary);
    --tw-prose-captions: var(--muted-foreground);
    --tw-prose-code: var(--foreground);
    --tw-prose-pre-code: var(--foreground);
    --tw-prose-pre-bg: var(--muted);
    --tw-prose-th-borders: var(--border);
    --tw-prose-td-borders: var(--border);
    --tw-prose-invert-body: var(--card-foreground);
    --tw-prose-invert-headings: var(--card-foreground);
    --tw-prose-invert-links: var(--primary-foreground);
    --tw-prose-invert-bold: var(--card-foreground);
    --tw-prose-invert-counters: var(--card-foreground);
    --tw-prose-invert-bullets: var(--card-foreground);
    --tw-prose-invert-hr: var(--border);
    --tw-prose-invert-quotes: var(--card-foreground);
    --tw-prose-invert-quote-borders: var(--primary-foreground);
    --tw-prose-invert-captions: var(--muted-foreground);
    --tw-prose-invert-code: var(--card-foreground);
    --tw-prose-invert-pre-code: var(--card-foreground);
    --tw-prose-invert-pre-bg: var(--muted);
    --tw-prose-invert-th-borders: var(--border);
    --tw-prose-invert-td-borders: var(--border);
  }
}
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 220 9.4% 12.5%;
    --card: 0 0% 100%;
    --card-foreground: 70 8.1% 12%;
    --popover: 0 0% 100%;
    --popover-foreground: 70 8.1% 12%;
    --primary: 212 100% 38.6%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 29% 97%;
    --secondary-foreground: 70 8.1% 12%;
    --muted: 0 0% 95%;
    --muted-foreground: 70 8.1% 50%;
    --accent: 0 0% 95%;
    --accent-foreground: 70 8.1% 12%;
    --destructive: 359 100% 43.7%;
    --destructive-foreground: 0 0% 100%;
    --border: 219 13.5% 89%;
    --input: 219 13.5% 71%;
    --ring: 212 100% 38.6%;
    --radius: 0.5rem;
    --live: 120 100% 27.8%;
  }

  .dark {
    --background: 70 8.1% 12%;
    --foreground: 60 36.4% 95.7%;
    --card: 70 8.1% 14.5%;
    --card-foreground: 60 36.4% 95.7%;
    --popover: 70 8.1% 14.5%;
    --popover-foreground: 60 36.4% 95.7%;
    --primary: 212 100% 38.6%;
    --secondary: 70 8.1% 7%;
    --secondary-foreground: 60 36.4% 95.7%;
    --muted: 70 8.1% 14.5%;
    --muted-foreground: 70 8.1% 45%;
    --accent: 70 8.1% 18%;
    --accent-foreground: 60 36.4% 95.7%;
    --destructive: 359 100% 43.7%;
    --destructive-foreground: 60 36.4% 95.7%;
    --border: 222 13.9% 28.2%;
    --input: 219 13.5% 71%;
    --ring: 224.3 76.3% 48%;
    --live: 120 100% 27.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  html {
    font-family: "Inter", sans-serif;
  }
}

.layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    0deg,
    rgba(63, 12, 88, 0.25) 0%,
    transparent 100%
  );
  pointer-events: none;
}
